<!--
  Generated template for the AddClassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>{{ 'add.add' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="state" color="primary">
    <ion-segment-button value="u">
      {{ 'add.create' | translate }}
    </ion-segment-button>
    <ion-segment-button value="a">
      {{ 'add.join' | translate }}
    </ion-segment-button>
  </ion-segment>

  <div padding *ngIf="this.state == 'u'">

    <form [formGroup]="class" (ngSubmit)="submitClass(this.class)">
      <ion-item>
        <ion-label>{{ 'add.name' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'subject' | translate }}</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'add.desc' | translate }}</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'user.lang' | translate }}</ion-label>
        <ion-select formControlName="lang" [(ngModel)]='lang'>
          <ion-option value="en">{{ 'lang.en' | translate }}</ion-option>
          <ion-option value="es">{{ 'lang.sp' | translate }}</ion-option>
          <ion-option value="fr">{{ 'lang.fr' | translate }}</ion-option>
          <ion-option value="zh">{{ 'lang.ch' | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item (click)='collapsible()'>
        <ion-icon item-left *ngIf='!this.expand' name="add"></ion-icon>
        <ion-icon item-left *ngIf='this.expand' name="remove"></ion-icon>
        <ion-label>{{ 'add.students' | translate }}</ion-label>
      </ion-item>
      <div *ngIf='this.expand'>
        <h6 padding *ngFor="let person of students">
          {{person}}
        </h6>
      </div>
      <ion-searchbar (ionInput)="onInput($event)" [debounce]='500'></ion-searchbar>
      <ion-card *ngIf='this.searchVal?.userName' (click)='addUser();'>
        <ion-row>
          <ion-icon padding name="contact"></ion-icon>
          <h1 padding>{{this.searchVal?.userName}}</h1>
        </ion-row>
      </ion-card>
      <!-- <ion-item>
        <ion-textarea readonly='true' formControlName="students" [(ngModel)]="this.students"></ion-textarea>
      </ion-item> -->

      <button ion-button type="submit" block [disabled]="!class.valid">{{ 'add.create' | translate }}</button>
    </form>
  </div>

  <div padding *ngIf="this.state == 'a'">
    <form (ngSubmit)="joinClass()">
      <h4>{{ 'add.id' | translate }}</h4>
      <!-- <ion-input type="number" formControlName="ID" (ionInput)="searchClass($event)" [debounce]='500'> -->
      <ion-searchbar (ionInput)="searchClass($event)" [debounce]='500'></ion-searchbar>
      <ion-card *ngIf='this.classVal?.name' (click)='joinClass();'>
        <ion-row>
          <ion-icon padding name="contact"></ion-icon>
          <h1 padding>{{this.classVal?.name}}</h1>
        </ion-row>
      </ion-card>
    </form>
  </div>


</ion-content>